body {
            background-color: #FF5733;
            margin: 0px;
            font-family: Verdana, Georgia, 'Times New Roman', serif;
            font-size: 14px;
        }

        #header {
            background-color: #5c755e;
            margin: 10px;
            height: 90px;
            border-radius: 5px;
        }

        #navbar ul {
            padding: 5px;
            list-style-type: none;
            text-align: center;
            background-color: #000;
            margin: 10px;
            border-radius: 5px;
        }

        #navbar ul li {
            display: inline;
        }

        #navbar ul li a {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            padding: .2em 1em;
            color: #fff;
            background-color: #000;
        }

        #navbar ul li a:hover {
            background-color: #fff;
            color: #000
        }

        .main {
            background-color: #e5e4d7;
            margin: 10px;
            border-radius: 5px;
            padding: 10px;
            font-size: 110%
        }

        h1 {
            font-size: 150%;
            color: #ce282e;
            text-align: center
        }

        h2 {
            font-size: 250%;
            text-align: center;
            color: #e5e4d7;
            font-family: "Century Gothic", "Gill Sans", Arial sans-serif;
            margin: 0px;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        h3 {
            font-size: 120%;
            color: darkblue;
        }

        .abilities {
            -webkit-columns: 3 150px;
            -moz-columns: 3 150px;
            columns: 3 150px;
            -webkit-column-gap: 5em;
            -moz-column-gap: 5em;
            column-gap: 5em;
            -webkit-column-rule-width: 4px;
            -moz-column-rule-width: 4px;
            column-rule-width: 4px;
            -webkit-column-rule-color: #e74c3c;
            -moz-column-rule-color: #e74c3c;
            column-rule-color: #e74c3c;
                }
        form {
            text-align: center;
            margin-top: 0;
        }
        .submit {
            background-color: #ce282e;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            color: #ffffff;
            border: none;
            outline: none;
            margin: 0;
            font-weight: bold;
        }
        .submit:hover {
            background-color: #FF5733;
        }
        textarea {
            height: 100px;
        }
        input, textarea {
            margin-bottom: 10px;
            font-size: 11pt;
            padding: 15px 10px 10px;
            border: 1px solid #cecece;
            background-color: #efefef;
            color: #787575;
            border-radius: 5px;
            width: 70%;
            outline: none;
        }

        #footer {
                background-color: #5c755e;
                margin: 10px;
                height: 60px;
                border-radius: 5px;
                color: #efe5d0;
                text-align: center;
                padding: 15px;
                font-size: 90%;
            }

        #footer p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 150%;
                margin: 10px
            }
        progress {
                width:70%;
                height: 20px;
                color: #41429F;
                }


    


